* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: #858C96;
}


h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.brand-blue {
    color: #0D6EFD;
}

/* Navbar Elements */

.navbar-brand {
    font-weight: 900;
}

.navbar-brand, .nav-item {
    font-family: 'Poppins', sans-serif;
}

/* Main Section Elements */

.home {
    padding-top: 75px;
    margin-bottom: 2rem;
}

.home h1 {
    font-weight: 700;
}

#profile-pic {
    max-width: 75%;
    border-radius: 5px;
    border: solid 10px #fafafa;
    -webkit-box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    -moz-box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    margin-bottom: 16px;
}

.prof-img-container {
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.intro button {
    background-color: #0D6EFD;
    border-radius: 8px;
    font-size: 14px;
    color:#FFF;
    border: none;
    padding: 2px 15px;
    font-weight: 700;
}

/* About Me Section */

.about-me-section {
    background-color: #F9FAFB;
}

.about-me-header {
    padding: 0.5rem 20px;
    background-color: #E5E7EB;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    display: inline;
    width: auto;
}














@media screen and (min-width:992px) {

    .intro {
        padding: 10rem 0 10rem 10rem;
        font-size: 16px;
        line-height: 1.75rem;
    }

    .home {
        min-height: 100vh
    }

    .home h1 {
        font-size: 3rem;
    }
}