* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: #858C96;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-weight: 700;
}

.brand-blue {
    color: #0D6EFD;
}

ul {
    color: #0D6EFD;
}

.regular {
    color: #858C96;
}

.bg-boot {
    background-color: #702CF6;
}

.section-alt {
    background-color: #F9FAFB;
}


/* Navbar Elements */

.navbar-brand {
    font-weight: 900;
}

.navbar-brand, .nav-item {
    font-family: 'Poppins', sans-serif;
}

/* Main Section Elements */

.home {
    padding-top: 75px;
    margin-bottom: 2rem;
}

.home h1 {
    font-weight: 700;
}

.intro h3{
    font-family: 'Bai Jamjuree', sans-serif;
}

#profile-pic,  #about-me-pic{
    max-width: 75%;
    border-radius: 5px;
    border: solid 10px #fafafa;
    -webkit-box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    -moz-box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    box-shadow: 1px 10px 4px 4px rgba(194,194,194,0.58);
    margin-bottom: 16px;
}

.prof-img-container {
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.intro button {
    background-color: #0D6EFD;
    border-radius: 8px;
    font-size: 14px;
    color:#FFF;
    border: none;
    padding: 2px 15px;
    font-weight: 700;
}

.intro button:hover {
    cursor: pointer;
    background-color: #0a58ca;
}

/* About Me Section */

.about-me-section {
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    min-height: 100vh;
}

.about-me-header {
    margin-top: 2rem;
    padding: 0.5rem 20px;
    background-color: #E5E7EB;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    display: inline;
    width: auto;
}



.about-me-list ul li::before{
    color: #0D6EFD;
}


#about-me-pic{
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
}


/* Skills Section*/

.skills-section {
    padding-bottom: 2rem;

}

.skills-section h4 {
    margin-bottom: 1rem;
}

.skill-header {
    margin: 1rem auto 2rem auto;
}

.tech-icons {
    height: 100px;
    width: auto;
    margin-top: 1rem;
}

/* Work Section Styling */

.work-section {
    padding-bottom: 1rem;
}

.work-header {
    margin-bottom: 1.5rem;
}

.work-section h4 {
    margin-bottom: 1.5rem;
}

/* Contact Section Styling */

.contact-header {
    margin-bottom: 1.5rem;

}

.contact-header h4 {
    margin-bottom: 1.5rem;
}

.copy-btn:hover{
    color: #0a58ca;
}

.contact-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-icon:hover{
    color:#0a58ca;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width:576px){

h6 {
    font-size: 1.5rem;
}

}

@media screen and (min-width:992px) {

    .intro {
        padding: 10rem 0 10rem 10rem;
        font-size: 16px;
        line-height: 1.75rem;
    }

    .home {
        min-height: 100vh
    }

    .home h1 {
        font-size: 3rem;
    }

    .social-icon{
        margin-right: 1rem;
    }

    #profile-pic {
        -webkit-box-shadow: 20px 28px 4px 4px rgba(0,0,0,0.58);
        -moz-box-shadow: 20px 28px 4px 4px rgba(0,0,0,0.58);
        box-shadow: 20px 28px 4px 4px rgba(0,0,0,0.58);
    }

    #about-me-pic{
        -webkit-box-shadow: -20px 28px 4px 4px rgba(0,0,0,0.58);
        -moz-box-shadow: -20px 28px 4px 4px rgba(0,0,0,0.58);
        box-shadow: -20px 28px 4px 4px rgba(0,0,0,0.58);
    }

    .more-about-text {
        padding-top: 2rem;
        padding-right: 10rem;
    }  

    .more-about-text h2 {
        margin-bottom: 1.5rem;
    }

    .more-about-text ul li{
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .skills-section {
        padding-right: 10rem;
        padding-left: 10rem;
    }

    .contact-section {
        padding: auto 5rem;
    }



}